<%- include('./partials/_header.ejs') %> 
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Anasayfa</a>
                    <a href="/sepetim">Sepet</a>
                    <span>Hemen alışverişe başla</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="card" style="height: 130px;">
                <div class="card-body">
                    <div style=" height: 100px;width: 100px; background-color:#fff1e6;
                    border-radius: 50%;
                    display: inline-block;">
                    <i class="fa fa-shopping-cart" style="font-size:70px;margin-top:10px;margin-left:15px;color: #f27a1a;
                    "></i>
                    </div>
                    <span style="margin-left: 10px;font-weight: bold; margin-bottom: 20px;">               Sepetinde ürün bulunmamaktadır.
                    </span>
                    <div style="height: 55px;"></div>
                    <a href="/" class="alisverisBtn">Alışverişe Başla</a>
                  </div>
                </div>
              
          </div>
        </div>
    </div>
</section>