<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                data-setbg="img/categories/category-1.jpg">
                <div class="categories__text">
                    <h1>Kadınların Modası</h1>
                    <p>new creation</p>
                    <a href="#">Alışveriş yap</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" data-setbg="img/categories/category-2.jpg">
                        <div class="categories__text">
                            <h1>Erkek Modası</h1>
                            <p>352 ürün</p>
                            <a href="#">Alışveriş yap</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" data-setbg="img/categories/category-3.jpg">
                        <div class="categories__text">
                            <h1>Cocuk Modası</h1>
                            <p>210</p>
                            <a href="#">Alışveriş yap</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" data-setbg="img/categories/category-4.jpg">
                        <div class="categories__text">
                            <h4>Kozmetik Ürünleri</h4>
                            <p>159 Ürün</p>
                            <a href="#">Alışveriş yap</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" data-setbg="img/categories/category-5.jpg">
                        <div class="categories__text">
                            <h4>Aksesuar Ürünleri</h4>
                            <p>792 Ürün</p>
                            <a href="#">Alışveriş yap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>