<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Ücretsiz kargo                    </h6>
                    <p>100 TL üstü siparislerde kargo</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Para iade garantisi                    </h6>
                    <p>İyi sorunları var ise</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Cevrim içi yardım 24/7</h6>
                    <p>Özel destek                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Ödeme Güvenliği</h6>
                    <p>%100 Güvenli Ödeme</p>
                </div>
            </div>
        </div>
    </div>
</section>